body {
    margin:0px;
    background-color: #025AA5;
}

.container {
    padding:50px;
    background-color: #74b749;
   
}

.row {
    border: 1px solid #de577b;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 2px #DE577B;
}



#months {
   
}

.btn {
    margin-top:25px;
    margin-right:25px;
    margin-bottom: 25px;
    width:250px;
   
}

.inputPrice {
    width:250px;
}


.inputPercentage {
    width:230px;
}

.title {
    color:#0275D8;
    font-weight: 800;
}

.btn-secondary {
     color:#0275D8 !important;
    font-weight: 800;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
 
  background-color: #DE577B !important;
  border-color: #494F57 !important;
}

.col {
    align-content: center;
}

